<div class="column-layout {{tagStyle}}">
	<section class="this-week-section addcm " data-cm-module="TW_FEATURES">
		{{#if elements.0.CAT1.length }}
		<div class="row">
			<div class="box box1">
				<a href="/urban/catalog/category.jsp?id={{ elements.0.CAT1 }}" data-cm-position="{{cmWeek}}_POSITION_1">
					<picture>
						<!--[if lte IE 9]><video style="display: none;"><![endif]-->
						<source srcset="/urban/images/marketing/{{ yymmdd }}/_{{gateway}}/1.jpg" media="(min-width: 641px)" >
							<source srcset="/urban/images/marketing/{{ yymmdd }}/mobile/_{{gateway}}/1.jpg" >
								<img srcset="/urban/images/marketing/{{ yymmdd }}/_{{gateway}}/1.jpg" alt="">
								<!--[if lte IE 9]></video><![endif]-->
			            <!--[if lte IE 9]>
			            <img src="/urban/images/marketing/{{ yymmdd }}/_{{gateway}}/1.jpg" alt="">
			            <![endif]-->
			        </picture>
			    </a>
			    <div class="shoptags">
			    	<span class="shop first">
			    		<a href="/urban/catalog/category.jsp?id={{ elements.0.CAT1 }}" data-cm-position="{{cmWeek}}_POSITION_1">{{ elements.0.TAG1 }}</a>
			    	</span>
			    	{{#if elements.0.CAT2.length }}
			    	<span class="shop second">
			    		<a href="/urban/catalog/category.jsp?id={{ elements.0.CAT2 }}" data-cm-position="{{cmWeek}}_POSITION_1">{{ elements.0.TAG2 }}</a>
			    	</span>
			    	{{/if}}
			    	{{#if elements.0.CAT3.length }}
			    	<span class="shop third">
			    		<a href="/urban/catalog/category.jsp?id={{ elements.0.CAT3 }}" data-cm-position="{{cmWeek}}_POSITION_1">{{ elements.0.TAG3 }}</a>
			    	</span>
			    	{{/if}}
			    </div>
			</div>
		</div>
		{{/if}}

		{{#if elements.1.CAT1.length }}
		<div class="row">
			<div class="small-24 medium-12 columns">
				<div class="box box2">
					<a href="/urban/catalog/category.jsp?id={{ elements.1.CAT1 }}" data-cm-position="{{cmWeek}}_POSITION_2">
						<picture>
							<!--[if lte IE 9]><video style="display: none;"><![endif]-->
							<source srcset="/urban/images/marketing/{{ yymmdd }}/_{{gateway}}/2.jpg" media="(min-width: 641px)" >
								<source srcset="/urban/images/marketing/{{ yymmdd }}/mobile/_{{gateway}}/2.jpg" >
									<img srcset="/urban/images/marketing/{{ yymmdd }}/_{{gateway}}/2.jpg" alt="">
									<!--[if lte IE 9]></video><![endif]-->
				            <!--[if lte IE 9]>
				            <img src="http://www.urbanoutfitters.com/urban/images/marketing/{{ yymmdd }}/_{{gateway}}/2.jpg" alt="">
				            <![endif]-->
				        </picture>
				    </a>
				    <div class="shoptags">
				    	<span class="shop first">
				    		<a href="/urban/catalog/category.jsp?id={{ elements.1.CAT1 }}" data-cm-position="{{cmWeek}}_POSITION_2">{{ elements.1.TAG1 }}</a>
				    	</span>
				    	{{#if elements.1.CAT2.length }}
				    	<span class="shop second">
				    		<a href="/urban/catalog/category.jsp?id={{ elements.1.CAT2 }}" data-cm-position="{{cmWeek}}_POSITION_2">{{ elements.1.TAG2 }}</a>
				    	</span>
				    	{{/if}}
				    	{{#if elements.1.CAT3.length }}
				    	<span class="shop third">
				    		<a href="/urban/catalog/category.jsp?id={{ elements.1.CAT3 }}" data-cm-position="{{cmWeek}}_POSITION_2">{{ elements.1.TAG3 }}</a>
				    	</span>
				    	{{/if}}
				    </div>
				</div>
			{{/if}}

			{{#if elements.2.CAT1.length }}
				<div class="box box3">
					<a href="/urban/catalog/category.jsp?id={{ elements.2.CAT1 }}" data-cm-position="{{cmWeek}}_POSITION_3">
						<picture>
							<!--[if lte IE 9]><video style="display: none;"><![endif]-->
							<source srcset="/urban/images/marketing/{{ yymmdd }}/_{{gateway}}/3.jpg" media="(min-width: 641px)" >
								<source srcset="/urban/images/marketing/{{ yymmdd }}/mobile/_{{gateway}}/3.jpg" >
									<img srcset="/urban/images/marketing/{{ yymmdd }}/_{{gateway}}/3.jpg" alt="">
									<!--[if lte IE 9]></video><![endif]-->
				            <!--[if lte IE 9]>
				            <img src="http://www.urbanoutfitters.com/urban/images/marketing/{{ yymmdd }}/_{{gateway}}/3.jpg" alt="">
				            <![endif]-->
				        </picture>
				    </a>
				    <div class="shoptags">
				    	<span class="shop first">
				    		<a href="/urban/catalog/category.jsp?id={{ elements.2.CAT1 }}" data-cm-position="{{cmWeek}}_POSITION_3">{{ elements.2.TAG1 }}</a>
				    	</span>
				    	{{#if elements.2.CAT2.length }}
				    	<span class="shop second">
				    		<a href="/urban/catalog/category.jsp?id={{ elements.2.CAT2 }}" data-cm-position="{{cmWeek}}_POSITION_3">{{ elements.2.TAG2 }}</a>
				    	</span>
				    	{{/if}}
				    	{{#if elements.2.CAT3.length }}
				    	<span class="shop third">
				    		<a href="/urban/catalog/category.jsp?id={{ elements.2.CAT3 }}" data-cm-position="{{cmWeek}}_POSITION_3">{{ elements.2.TAG3 }}</a>
				    	</span>
				    	{{/if}}
				    </div>
				</div>
			</div>
			
			{{/if}}

			{{#if elements.3.CAT1.length }}
			<div class="small-24 medium-12 columns">
				<div class="box box4">
					<a href="/urban/catalog/category.jsp?id={{ elements.3.CAT1 }}" data-cm-position="{{cmWeek}}_POSITION_4">
						<picture>
							<!--[if lte IE 9]><video style="display: none;"><![endif]-->
							<source srcset="/urban/images/marketing/{{ yymmdd }}/_{{gateway}}/4.jpg" media="(min-width: 641px)" >
								<source srcset="/urban/images/marketing/{{ yymmdd }}/mobile/_{{gateway}}/4.jpg" >
									<img srcset="/urban/images/marketing/{{ yymmdd }}/_{{gateway}}/4.jpg" alt="">
									<!--[if lte IE 9]></video><![endif]-->
				            <!--[if lte IE 9]>
				            <img src="http://www.urbanoutfitters.com/urban/images/marketing/{{ yymmdd }}/_{{gateway}}/4.jpg" alt="">
				            <![endif]-->
				        </picture>
				    </a>
				    <div class="shoptags">
				    	<span class="shop first">
				    		<a href="/urban/catalog/category.jsp?id={{ elements.3.CAT1 }}" data-cm-position="{{cmWeek}}_POSITION_4">{{ elements.3.TAG1 }}</a>
				    	</span>
				    	{{#if elements.3.CAT2.length }}
				    	<span class="shop second">
				    		<a href="/urban/catalog/category.jsp?id={{ elements.3.CAT2 }}" data-cm-position="{{cmWeek}}_POSITION_4">{{ elements.3.TAG2 }}</a>
				    	</span>
				    	{{/if}}
				    	{{#if elements.3.CAT3.length }}
				    	<span class="shop third">
				    		<a href="/urban/catalog/category.jsp?id={{ elements.3.CAT3 }}" data-cm-position="{{cmWeek}}_POSITION_4">{{ elements.3.TAG3 }}</a>
				    	</span>
				    	{{/if}}
				    </div>
				</div>
				{{/if}}


				{{#if elements.4.CAT1.length }}
				<div class="box box5">
					<a href="/urban/catalog/category.jsp?id={{ elements.4.CAT1 }}" data-cm-position="{{cmWeek}}_POSITION_5">
						<picture>
						<!--[if lte IE 9]><video style="display: none;"><![endif]-->
						<source srcset="/urban/images/marketing/{{ yymmdd }}/_{{gateway}}/5.jpg" media="(min-width: 641px)" >
							<source srcset="/urban/images/marketing/{{ yymmdd }}/mobile/_{{gateway}}/5.jpg" >
								<img srcset="/urban/images/marketing/{{ yymmdd }}/_{{gateway}}/5.jpg" alt="">
								<!--[if lte IE 9]></video><![endif]-->
				            <!--[if lte IE 9]>
				            <img src="http://www.urbanoutfitters.com/urban/images/marketing/{{ yymmdd }}/_{{gateway}}/5.jpg" alt="">
				            <![endif]-->
				        </picture>
				    </a>
				    <div class="shoptags">
				    	<span class="shop first">
				    		<a href="/urban/catalog/category.jsp?id={{ elements.4.CAT1 }}" data-cm-position="{{cmWeek}}_POSITION_5">{{ elements.4.TAG1 }}</a>
				    	</span>
				    	{{#if elements.4.CAT2.length }}
				    	<span class="shop second">
				    		<a href="/urban/catalog/category.jsp?id={{ elements.4.CAT2 }}" data-cm-position="{{cmWeek}}_POSITION_5">{{ elements.4.TAG2 }}</a>
				    	</span>
				    	{{/if}}
				    	{{#if elements.4.CAT3.length }}
				    	<span class="shop third">
				    		<a href="/urban/catalog/category.jsp?id={{ elements.4.CAT3 }}" data-cm-position="{{cmWeek}}_POSITION_5">{{ elements.4.TAG3 }}</a>
				    	</span>
				    	{{/if}}
				    </div>
				</div>
			</div>
		</div>
		{{/if}}


		{{#if elements.5.CAT1.length }}
			<!-- LOAD MORE BUTTON -->
			<div class="btn-loadmore">
				<button>Load More</button>
			</div>
		{{/if}}

		<div class="load-container">
			<!-- ONE PICTUREFILL MODULE AT THE TOP OF THE "LOAD MORE" SECTION-->

			{{#if elements.5.CAT1.length }}
				<div class="box box6">
					<a href="/urban/catalog/category.jsp?id={{ elements.5.CAT1 }}" data-cm-position="{{cmWeek}}_POSITION_6">
						<picture>
							<!--[if lte IE 9]><video style="display: none;"><![endif]-->
							<source srcset="/urban/images/marketing/{{ yymmdd }}/_{{gateway}}/6.jpg" media="(min-width: 641px)" >
								<source srcset="/urban/images/marketing/{{ yymmdd }}/mobile/_{{gateway}}/6.jpg" >
									<img srcset="/urban/images/marketing/{{ yymmdd }}/_{{gateway}}/6.jpg" alt="">
									<!--[if lte IE 9]></video><![endif]-->
				            <!--[if lte IE 9]>
				            <img src="http://www.urbanoutfitters.com/urban/images/marketing/{{ yymmdd }}/_{{gateway}}/6.jpg" alt="">
				            <![endif]-->
				        </picture>
				    </a>
				    <div class="shoptags">
				    	<span class="shop first">
				    		<a href="/urban/catalog/category.jsp?id={{ elements.5.CAT1 }}" data-cm-position="{{cmWeek}}_POSITION_6">{{ elements.5.TAG1 }}</a>
				    	</span>
					    {{#if elements.5.CAT2.length }}
				    	<span class="shop second">
				    		<a href="/urban/catalog/category.jsp?id={{ elements.5.CAT2 }}" data-cm-position="{{cmWeek}}_POSITION_6">{{ elements.5.TAG2 }}</a>
				    	</span>
				    	{{/if}}
				    	{{#if elements.5.CAT3.length }}
				    	<span class="shop third">
				    		<a href="/urban/catalog/category.jsp?id={{ elements.5.CAT3 }}" data-cm-position="{{cmWeek}}_POSITION_6">{{ elements.5.TAG3 }}</a>
				    	</span>
				    	{{/if}}
				    </div>
				</div>
			{{/if}}


			<!-- LAZY LOADING STARTS HERE -->
			
			{{#if elements.6.CAT1.length }}
			<div class="row">
				<div class="box box7">
					<a href="/urban/catalog/category.jsp?id={{ elements.6.CAT1 }}" data-cm-position="{{cmWeek}}_POSITION_7">
						<img src="//www.urbanoutfitters.com/images/white.gif"
						class="img-lazyload"
						data-mobile="/urban/images/marketing/{{ yymmdd }}/mobile/_{{gateway}}/7.jpg"
						data-desktop="/urban/images/marketing/{{ yymmdd }}/_{{gateway}}/7.jpg"/>
					</a>
					<div class="shoptags">
						<span class="shop first">
							<a href="/urban/catalog/category.jsp?id={{ elements.6.CAT1 }}" data-cm-position="{{cmWeek}}_POSITION_7">{{ elements.6.TAG1 }}</a>
						</span>
						{{#if elements.6.CAT2.length }}
				    	<span class="shop second">
				    		<a href="/urban/catalog/category.jsp?id={{ elements.6.CAT2 }}" data-cm-position="{{cmWeek}}_POSITION_7">{{ elements.6.TAG2 }}</a>
				    	</span>
				    	{{/if}}
				    	{{#if elements.6.CAT3.length }}
				    	<span class="shop third">
				    		<a href="/urban/catalog/category.jsp?id={{ elements.6.CAT3 }}" data-cm-position="{{cmWeek}}_POSITION_7">{{ elements.6.TAG3 }}</a>
				    	</span>
				    	{{/if}}
					</div>
				</div>
			</div>
			{{/if}}

			{{#if elements.7.CAT1.length }}
				<div class="box box8">
					<a href="/urban/catalog/category.jsp?id={{ elements.7.CAT1 }}" data-cm-position="{{cmWeek}}_POSITION_8">
						<img src="//www.urbanoutfitters.com/images/white.gif"
						class="img-lazyload"
						data-mobile="/urban/images/marketing/{{ yymmdd }}/mobile/_{{gateway}}/8.jpg"
						data-desktop="/urban/images/marketing/{{ yymmdd }}/_{{gateway}}/8.jpg"/>
					</a>
					<div class="shoptags">
						<span class="shop first">
							<a href="/urban/catalog/category.jsp?id={{ elements.7.CAT1 }}" data-cm-position="{{cmWeek}}_POSITION_8">{{ elements.7.TAG1 }}</a>
						</span>
						{{#if elements.7.CAT2.length }}
				    	<span class="shop second">
				    		<a href="/urban/catalog/category.jsp?id={{ elements.7.CAT2 }}" data-cm-position="{{cmWeek}}_POSITION_8">{{ elements.7.TAG2 }}</a>
				    	</span>
				    	{{/if}}
				    	{{#if elements.7.CAT3.length }}
				    	<span class="shop third">
				    		<a href="/urban/catalog/category.jsp?id={{ elements.7.CAT3 }}" data-cm-position="{{cmWeek}}_POSITION_8">{{ elements.7.TAG3 }}</a>
				    	</span>
				    	{{/if}}
					</div>
				</div>
			{{/if}}

			{{#if elements.8.CAT1.length }}
				<div class="box box9">
					<a href="/urban/catalog/category.jsp?id={{ elements.8.CAT1 }}" data-cm-position="{{cmWeek}}_POSITION_9">
						<img src="//www.urbanoutfitters.com/images/white.gif"
						class="img-lazyload"
						data-mobile="/urban/images/marketing/{{ yymmdd }}/mobile/_{{gateway}}/9.jpg"
						data-desktop="/urban/images/marketing/{{ yymmdd }}/_{{gateway}}/9.jpg"/>
					</a>
					<div class="shoptags">
						<span class="shop first">
							<a href="/urban/catalog/category.jsp?id={{ elements.8.CAT1 }}" data-cm-position="{{cmWeek}}_POSITION_9">{{ elements.8.TAG1 }}</a>
						</span>
						{{#if elements.8.CAT2.length }}
				    	<span class="shop second">
				    		<a href="/urban/catalog/category.jsp?id={{ elements.8.CAT2 }}" data-cm-position="{{cmWeek}}_POSITION_9">{{ elements.8.TAG2 }}</a>
				    	</span>
				    	{{/if}}
				    	{{#if elements.8.CAT3.length }}
				    	<span class="shop third">
				    		<a href="/urban/catalog/category.jsp?id={{ elements.8.CAT3 }}" data-cm-position="{{cmWeek}}_POSITION_9">{{ elements.8.TAG3 }}</a>
				    	</span>
				    	{{/if}}
					</div>
				</div>
			{{/if}}

			{{#if elements.9.CAT1.length }}
				<div class="box box10">
					<a href="/urban/catalog/category.jsp?id={{ elements.9.CAT1 }}" data-cm-position="{{cmWeek}}_POSITION_10">
						<img src="//www.urbanoutfitters.com/images/white.gif"
						class="img-lazyload"
						data-mobile="/urban/images/marketing/{{ yymmdd }}/mobile/_{{gateway}}/10.jpg"
						data-desktop="/urban/images/marketing/{{ yymmdd }}/_{{gateway}}/10.jpg"/>
					</a>
					<div class="shoptags">
						<span class="shop first">
							<a href="/urban/catalog/category.jsp?id={{ elements.9.CAT1 }}" data-cm-position="{{cmWeek}}_POSITION_10">{{ elements.9.TAG1 }}</a>
						</span>
						{{#if elements.9.CAT2.length }}
				    	<span class="shop second">
				    		<a href="/urban/catalog/category.jsp?id={{ elements.9.CAT2 }}" data-cm-position="{{cmWeek}}_POSITION_10">{{ elements.9.TAG2 }}</a>
				    	</span>
				    	{{/if}}
				    	{{#if elements.9.CAT3.length }}
				    	<span class="shop third">
				    		<a href="/urban/catalog/category.jsp?id={{ elements.9.CAT3 }}" data-cm-position="{{cmWeek}}_POSITION_10">{{ elements.9.TAG3 }}</a>
				    	</span>
				    	{{/if}}
					</div>
				</div>
			{{/if}}

			{{#if elements.10.CAT1.length }}
				<div class="box box11">
					<a href="/urban/catalog/category.jsp?id={{ elements.10.CAT1 }}" data-cm-position="{{cmWeek}}_POSITION_11">
						<img src="//www.urbanoutfitters.com/images/white.gif"
						class="img-lazyload"
						data-mobile="/urban/images/marketing/{{ yymmdd }}/mobile/_{{gateway}}/11.jpg"
						data-desktop="/urban/images/marketing/{{ yymmdd }}/_{{gateway}}/11.jpg"/>
					</a>
					<div class="shoptags">
						<span class="shop first">
							<a href="/urban/catalog/category.jsp?id={{ elements.10.CAT1 }}" data-cm-position="{{cmWeek}}_POSITION_11">{{ elements.10.TAG1 }}</a>
						</span>
						{{#if elements.10.CAT2.length }}
				    	<span class="shop second">
				    		<a href="/urban/catalog/category.jsp?id={{ elements.10.CAT2 }}" data-cm-position="{{cmWeek}}_POSITION_11">{{ elements.10.TAG2 }}</a>
				    	</span>
				    	{{/if}}
				    	{{#if elements.10.CAT3.length }}
				    	<span class="shop third">
				    		<a href="/urban/catalog/category.jsp?id={{ elements.10.CAT3 }}" data-cm-position="{{cmWeek}}_POSITION_11">{{ elements.10.TAG3 }}</a>
				    	</span>
				    	{{/if}}
					</div>
				</div>
			{{/if}}

			{{#if elements.11.CAT1.length }}
				<div class="box box12">
					<a href="/urban/catalog/category.jsp?id={{ elements.11.CAT1 }}" data-cm-position="{{cmWeek}}_POSITION_12">
						<img src="//www.urbanoutfitters.com/images/white.gif"
						class="img-lazyload"
						data-mobile="/urban/images/marketing/{{ yymmdd }}/mobile/_{{gateway}}/12.jpg"
						data-desktop="/urban/images/marketing/{{ yymmdd }}/_{{gateway}}/12.jpg"/>
					</a>
					<div class="shoptags">
						<span class="shop first">
							<a href="/urban/catalog/category.jsp?id={{ elements.11.CAT1 }}" data-cm-position="{{cmWeek}}_POSITION_12">{{ elements.11.TAG1 }}</a>
						</span>
						{{#if elements.11.CAT2.length }}
				    	<span class="shop second">
				    		<a href="/urban/catalog/category.jsp?id={{ elements.11.CAT2 }}" data-cm-position="{{cmWeek}}_POSITION_12">{{ elements.11.TAG2 }}</a>
				    	</span>
				    	{{/if}}
				    	{{#if elements.11.CAT3.length }}
				    	<span class="shop third">
				    		<a href="/urban/catalog/category.jsp?id={{ elements.11.CAT3 }}" data-cm-position="{{cmWeek}}_POSITION_12">{{ elements.11.TAG3 }}</a>
				    	</span>
				    	{{/if}}
					</div>
				</div>
			{{/if}}

			{{#if elements.12.CAT1.length }}
				<div class="box box13">
					<a href="/urban/catalog/category.jsp?id={{ elements.12.CAT1 }}" data-cm-position="{{cmWeek}}_POSITION_13">
						<img src="//www.urbanoutfitters.com/images/white.gif"
						class="img-lazyload"
						data-mobile="/urban/images/marketing/{{ yymmdd }}/mobile/_{{gateway}}/13.jpg"
						data-desktop="/urban/images/marketing/{{ yymmdd }}/_{{gateway}}/13.jpg"/>
					</a>
					<div class="shoptags">
						<span class="shop first">
							<a href="/urban/catalog/category.jsp?id={{ elements.12.CAT1 }}" data-cm-position="{{cmWeek}}_POSITION_13">{{ elements.12.TAG1 }}</a>
						</span>
						{{#if elements.12.CAT2.length }}
				    	<span class="shop second">
				    		<a href="/urban/catalog/category.jsp?id={{ elements.12.CAT2 }}" data-cm-position="{{cmWeek}}_POSITION_13">{{ elements.12.TAG2 }}</a>
				    	</span>
				    	{{/if}}
				    	{{#if elements.12.CAT3.length }}
				    	<span class="shop third">
				    		<a href="/urban/catalog/category.jsp?id={{ elements.12.CAT3 }}" data-cm-position="{{cmWeek}}_POSITION_13">{{ elements.12.TAG3 }}</a>
				    	</span>
				    	{{/if}}
					</div>
				</div>
			{{/if}}

			{{#if elements.13.CAT1.length }}
				<div class="box box14">
					<a href="/urban/catalog/category.jsp?id={{ elements.13.CAT1 }}" data-cm-position="{{cmWeek}}_POSITION_14">
						<img src="//www.urbanoutfitters.com/images/white.gif"
						class="img-lazyload"
						data-mobile="/urban/images/marketing/{{ yymmdd }}/mobile/_{{gateway}}/14.jpg"
						data-desktop="/urban/images/marketing/{{ yymmdd }}/_{{gateway}}/14.jpg"/>
					</a>
					<div class="shoptags">
						<span class="shop first">
							<a href="/urban/catalog/category.jsp?id={{ elements.13.CAT1 }}" data-cm-position="{{cmWeek}}_POSITION_14">{{ elements.13.TAG1 }}</a>
						</span>
						{{#if elements.13.CAT2.length }}
				    	<span class="shop second">
				    		<a href="/urban/catalog/category.jsp?id={{ elements.13.CAT2 }}" data-cm-position="{{cmWeek}}_POSITION_14">{{ elements.13.TAG2 }}</a>
				    	</span>
				    	{{/if}}
				    	{{#if elements.13.CAT3.length }}
				    	<span class="shop third">
				    		<a href="/urban/catalog/category.jsp?id={{ elements.13.CAT3 }}" data-cm-position="{{cmWeek}}_POSITION_14">{{ elements.13.TAG3 }}</a>
				    	</span>
				    	{{/if}}
					</div>
				</div>
			{{/if}}

			{{#if elements.14.CAT1.length }}
				<div class="box box15">
					<a href="/urban/catalog/category.jsp?id={{ elements.14.CAT1 }}" data-cm-position="{{cmWeek}}_POSITION_15">
						<img src="//www.urbanoutfitters.com/images/white.gif"
						class="img-lazyload"
						data-mobile="/urban/images/marketing/{{ yymmdd }}/mobile/_{{gateway}}/15.jpg"
						data-desktop="/urban/images/marketing/{{ yymmdd }}/_{{gateway}}/15.jpg"/>
					</a>
					<div class="shoptags">
						<span class="shop first">
							<a href="/urban/catalog/category.jsp?id={{ elements.14.CAT1 }}" data-cm-position="{{cmWeek}}_POSITION_15">{{ elements.14.TAG1 }}</a>
						</span>
						{{#if elements.14.CAT2.length }}
				    	<span class="shop second">
				    		<a href="/urban/catalog/category.jsp?id={{ elements.14.CAT2 }}" data-cm-position="{{cmWeek}}_POSITION_15">{{ elements.14.TAG2 }}</a>
				    	</span>
				    	{{/if}}
				    	{{#if elements.14.CAT3.length }}
				    	<span class="shop third">
				    		<a href="/urban/catalog/category.jsp?id={{ elements.14.CAT3 }}" data-cm-position="{{cmWeek}}_POSITION_15">{{ elements.14.TAG3 }}</a>
				    	</span>
				    	{{/if}}
					</div>
				</div>
			{{/if}}

			{{#if elements.15.CAT1.length }}
				<div class="box box16">
					<a href="/urban/catalog/category.jsp?id={{ elements.15.CAT1 }}" data-cm-position="{{cmWeek}}_POSITION_16">
						<img src="//www.urbanoutfitters.com/images/white.gif"
						class="img-lazyload"
						data-mobile="/urban/images/marketing/{{ yymmdd }}/mobile/_{{gateway}}/16.jpg"
						data-desktop="/urban/images/marketing/{{ yymmdd }}/_{{gateway}}/16.jpg"/>
					</a>
					<div class="shoptags">
						<span class="shop first">
							<a href="/urban/catalog/category.jsp?id={{ elements.15.CAT1 }}" data-cm-position="{{cmWeek}}_POSITION_16">{{ elements.15.TAG1 }}</a>
						</span>
						{{#if elements.15.CAT2.length }}
				    	<span class="shop second">
				    		<a href="/urban/catalog/category.jsp?id={{ elements.15.CAT2 }}" data-cm-position="{{cmWeek}}_POSITION_16">{{ elements.15.TAG2 }}</a>
				    	</span>
				    	{{/if}}
				    	{{#if elements.15.CAT3.length }}
				    	<span class="shop third">
				    		<a href="/urban/catalog/category.jsp?id={{ elements.15.CAT3 }}" data-cm-position="{{cmWeek}}_POSITION_16">{{ elements.15.TAG3 }}</a>
				    	</span>
				    	{{/if}}
					</div>
				</div>
			{{/if}}

		</div>
	</section>


	<section class="blog">
		<h3><img src="//www.urbanoutfitters.com/images/marketing/141006/from_the_blog.svg" title="From the Blog"></h3>
		<a class="view-all" href="http://blog.urbanoutfitters.com?cm_re=BLOG-_-NONE-_-VIEW_ALL_STORIES">See All Stories</a>
		<div id="blog-wrapper" class="swipe addcm" data-cm-module="BLOG">
			<div class="swipe-wrap blog-inner">
				<div class="blog-thumbnail first">
					<a href="{{elements.16.CAT1}}">
						<img src="//www.urbanoutfitters.com/images/white.gif"
						class="img-lazyload"
						data-mobile="/urban/images/marketing/{{ yymmdd }}/mobile/_{{gateway}}/blog_1.jpg"
						data-desktop="/urban/images/marketing/{{ yymmdd }}/_{{gateway}}/blog_1.jpg"/>
						<h4>{{elements.16.HEADLINE}}</h4>
						<p>{{elements.16.SUBCOPY}}</p><span class="read-more">{{elements.16.TAG1}}</span>
					</a>
				</div>
				<div class="blog-thumbnail">
					<a href="{{elements.17.CAT1}}">
						<img src="//www.urbanoutfitters.com/images/white.gif"
						class="img-lazyload"
						data-mobile="/urban/images/marketing/{{ yymmdd }}/mobile/_{{gateway}}/blog_2.jpg"
						data-desktop="/urban/images/marketing/{{ yymmdd }}/_{{gateway}}/blog_2.jpg"/>
						<h4>{{elements.17.HEADLINE}}</h4>
						<p>{{elements.17.SUBCOPY}}</p><span class="read-more">{{elements.17.TAG1}}</span>
					</a>
				</div>
				<div class="blog-thumbnail">
					<a href="{{elements.18.CAT1}}">
						<img src="//www.urbanoutfitters.com/images/white.gif"
						class="img-lazyload"
						data-mobile="/urban/images/marketing/{{ yymmdd }}/mobile/_{{gateway}}/blog_3.jpg"
						data-desktop="/urban/images/marketing/{{ yymmdd }}/_{{gateway}}/blog_3.jpg"/>
						<h4>{{elements.18.HEADLINE}}</h4>
						<p>{{elements.18.SUBCOPY}}</p><span class="read-more">{{elements.18.TAG1}}</span>
					</a>
				</div>
				<div class="blog-thumbnail">
					<a href="{{elements.19.CAT1}}">
						<img src="//www.urbanoutfitters.com/images/white.gif"
						class="img-lazyload"
						data-mobile="/urban/images/marketing/{{ yymmdd }}/mobile/_{{gateway}}/blog_4.jpg"
						data-desktop="/urban/images/marketing/{{ yymmdd }}/_{{gateway}}/blog_4.jpg"/>
						<h4>{{elements.19.HEADLINE}}</h4>
						<p>{{elements.19.SUBCOPY}}</p><span class="read-more">{{elements.19.TAG1}}</span>
					</a>
				</div>
			</div>
			<div class="image-bullets"></div>
		</div>
	</section>

	<section class="last-week-section addcm" data-cm-module="LW_FEATURES">
		<h3><img src="//www.urbanoutfitters.com/images/marketing/141006/more_stories.svg" title="More Stories"></h3>
		{{#if elements.20.CAT1.length }}
		<div class="row">
			<div class="small-24 medium-12 columns">
				<div class="box box1">
					<a href="/urban/catalog/category.jsp?id={{elements.20.CAT1}}" data-cm-position="{{cmWeek}}_POSITION_1">
						<img src="//www.urbanoutfitters.com/images/white.gif"
						class="img-lazyload"
						data-desktop="/urban/images/marketing/{{ yymmdd }}/_{{gateway}}/lw_1.jpg"/>
					</a>
					<div class="shoptags">
						<span class="shop first">
							<a href="/urban/catalog/category.jsp?id={{ elements.20.CAT1 }}" data-cm-position="{{cmWeek}}_POSITION_1">{{ elements.20.TAG1 }}</a>
						</span>
						{{#if elements.20.CAT2.length }}
				    	<span class="shop second">
				    		<a href="/urban/catalog/category.jsp?id={{ elements.20.CAT2 }}" data-cm-position="{{cmWeek}}_POSITION_1">{{ elements.20.TAG2 }}</a>
				    	</span>
				    	{{/if}}
				    	{{#if elements.20.CAT3.length }}
				    	<span class="shop third">
				    		<a href="/urban/catalog/category.jsp?id={{ elements.20.CAT3 }}" data-cm-position="{{cmWeek}}_POSITION_1">{{ elements.20.TAG3 }}</a>
				    	</span>
				    	{{/if}}
					</div>
				</div>
			</div>
		{{/if}}

		{{#if elements.21.CAT1.length }}
			<div class="small-24 medium-12 columns">
				<div class="box box2">
					<a href="/urban/catalog/category.jsp?id={{elements.21.CAT1}}" data-cm-position="{{cmWeek}}_POSITION_2">
						<img src="//www.urbanoutfitters.com/images/white.gif"
						class="img-lazyload"
						data-desktop="/urban/images/marketing/{{ yymmdd }}/_{{gateway}}/lw_2.jpg"/>
					</a>
					<div class="shoptags">
						<span class="shop first">
							<a href="/urban/catalog/category.jsp?id={{ elements.21.CAT1 }}" data-cm-position="{{cmWeek}}_POSITION_2">{{ elements.21.TAG1 }}</a>
						</span>
						{{#if elements.21.CAT2.length }}
				    	<span class="shop second">
				    		<a href="/urban/catalog/category.jsp?id={{ elements.21.CAT2 }}" data-cm-position="{{cmWeek}}_POSITION_2">{{ elements.21.TAG2 }}</a>
				    	</span>
				    	{{/if}}
				    	{{#if elements.21.CAT3.length }}
				    	<span class="shop third">
				    		<a href="/urban/catalog/category.jsp?id={{ elements.21.CAT3 }}" data-cm-position="{{cmWeek}}_POSITION_2">{{ elements.21.TAG3 }}</a>
				    	</span>
				    	{{/if}}
					</div>
				</div>
			{{/if}}

			{{#if elements.22.CAT1.length }}
				<div class="box box3">
					<a href="/urban/catalog/category.jsp?id={{elements.22.CAT1}}" data-cm-position="{{cmWeek}}_POSITION_3">
						<img src="//www.urbanoutfitters.com/images/white.gif"
						class="img-lazyload"
						data-desktop="/urban/images/marketing/{{ yymmdd }}/_{{gateway}}/lw_3.jpg"/>
					</a>
					<div class="shoptags">
						<span class="shop first">
							<a href="/urban/catalog/category.jsp?id={{ elements.22.CAT1 }}" data-cm-position="{{cmWeek}}_POSITION_3">{{ elements.22.TAG1 }}</a>
						</span>
						{{#if elements.22.CAT2.length }}
				    	<span class="shop second">
				    		<a href="/urban/catalog/category.jsp?id={{ elements.22.CAT2 }}" data-cm-position="{{cmWeek}}_POSITION_3">{{ elements.22.TAG2 }}</a>
				    	</span>
				    	{{/if}}
				    	{{#if elements.22.CAT3.length }}
				    	<span class="shop third">
				    		<a href="/urban/catalog/category.jsp?id={{ elements.22.CAT3 }}" data-cm-position="{{cmWeek}}_POSITION_3">{{ elements.22.TAG3 }}</a>
				    	</span>
				    	{{/if}}
					</div>
				</div>
			</div>
		</div>
		{{/if}}

		{{#if elements.23.CAT1.length }}
			<div class="box box4">
				<a href="/urban/catalog/category.jsp?id={{elements.23.CAT1}}" data-cm-position="{{cmWeek}}_POSITION_4">
					<img src="//www.urbanoutfitters.com/images/white.gif"
					class="img-lazyload"
					data-desktop="/urban/images/marketing/{{ yymmdd }}/_{{gateway}}/lw_4.jpg"/>
				</a>
				<div class="shoptags">
					<span class="shop first">
						<a href="/urban/catalog/category.jsp?id={{ elements.23.CAT1 }}" data-cm-position="{{cmWeek}}_POSITION_4">{{ elements.23.TAG1 }}</a>
					</span>
					{{#if elements.23.CAT2.length }}
			    	<span class="shop second">
			    		<a href="/urban/catalog/category.jsp?id={{ elements.23.CAT2 }}" data-cm-position="{{cmWeek}}_POSITION_4">{{ elements.23.TAG2 }}</a>
			    	</span>
			    	{{/if}}
			    	{{#if elements.23.CAT3.length }}
			    	<span class="shop third">
			    		<a href="/urban/catalog/category.jsp?id={{ elements.23.CAT3 }}" data-cm-position="{{cmWeek}}_POSITION_4">{{ elements.23.TAG3 }}</a>
			    	</span>
			    	{{/if}}
				</div>
			</div>
		{{/if}}

		{{#if elements.24.CAT1.length }}
			<div class="box box5">
				<a href="/urban/catalog/category.jsp?id={{elements.24.CAT1}}" data-cm-position="{{cmWeek}}_POSITION_5">
					<img src="//www.urbanoutfitters.com/images/white.gif"
					class="img-lazyload"
					data-desktop="/urban/images/marketing/{{ yymmdd }}/_{{gateway}}/lw_5.jpg"/>
				</a>
				<div class="shoptags">
					<span class="shop first">
						<a href="/urban/catalog/category.jsp?id={{ elements.24.CAT1 }}" data-cm-position="{{cmWeek}}_POSITION_5">{{ elements.24.TAG1 }}</a>
					</span>
					{{#if elements.24.CAT2.length }}
			    	<span class="shop second">
			    		<a href="/urban/catalog/category.jsp?id={{ elements.24.CAT2 }}" data-cm-position="{{cmWeek}}_POSITION_5">{{ elements.24.TAG2 }}</a>
			    	</span>
			    	{{/if}}
			    	{{#if elements.24.CAT3.length }}
			    	<span class="shop third">
			    		<a href="/urban/catalog/category.jsp?id={{ elements.24.CAT3 }}" data-cm-position="{{cmWeek}}_POSITION_5">{{ elements.24.TAG3 }}</a>
			    	</span>
			    	{{/if}}
				</div>
			</div>
		{{/if}}

		{{#if elements.25.CAT1.length }}
			<div class="box box6">
				<a href="/urban/catalog/category.jsp?id={{elements.25.CAT1}}" data-cm-position="{{cmWeek}}_POSITION_6">
					<img src="//www.urbanoutfitters.com/images/white.gif"
					class="img-lazyload"
					data-desktop="/urban/images/marketing/{{ yymmdd }}/_{{gateway}}/lw_6.jpg"/>
				</a>
				<div class="shoptags">
					<span class="shop first">
						<a href="/urban/catalog/category.jsp?id={{ elements.25.CAT1 }}" data-cm-position="{{cmWeek}}_POSITION_6">{{ elements.25.TAG1 }}</a>
					</span>
					{{#if elements.25.CAT2.length }}
			    	<span class="shop second">
			    		<a href="/urban/catalog/category.jsp?id={{ elements.25.CAT2 }}" data-cm-position="{{cmWeek}}_POSITION_6">{{ elements.25.TAG2 }}</a>
			    	</span>
			    	{{/if}}
			    	{{#if elements.25.CAT3.length }}
			    	<span class="shop third">
			    		<a href="/urban/catalog/category.jsp?id={{ elements.25.CAT3 }}" data-cm-position="{{cmWeek}}_POSITION_6">{{ elements.25.TAG3 }}</a>
			    	</span>
			    	{{/if}}
				</div>
			</div>
		{{/if}}

		{{#if elements.26.CAT1.length }}
			<div class="box box7">
				<a href="/urban/catalog/category.jsp?id={{elements.26.CAT1}}" data-cm-position="{{cmWeek}}_POSITION_7">
					<img src="//www.urbanoutfitters.com/images/white.gif"
					class="img-lazyload"
					data-desktop="/urban/images/marketing/{{ yymmdd }}/_{{gateway}}/lw_7.jpg"/>
				</a>
				<div class="shoptags">
					<span class="shop first">
						<a href="/urban/catalog/category.jsp?id={{ elements.26.CAT1 }}" data-cm-position="{{cmWeek}}_POSITION_7">{{ elements.26.TAG1 }}</a>
					</span>
					{{#if elements.26.CAT2.length }}
			    	<span class="shop second">
			    		<a href="/urban/catalog/category.jsp?id={{ elements.26.CAT2 }}" data-cm-position="{{cmWeek}}_POSITION_7">{{ elements.26.TAG2 }}</a>
			    	</span>
			    	{{/if}}
			    	{{#if elements.26.CAT3.length }}
			    	<span class="shop third">
			    		<a href="/urban/catalog/category.jsp?id={{ elements.26.CAT3 }}" data-cm-position="{{cmWeek}}_POSITION_7">{{ elements.26.TAG3 }}</a>
			    	</span>
			    	{{/if}}
				</div>
			</div>
		{{/if}}

		{{#if elements.27.CAT1.length }}
			<div class="box box8">
				<a href="/urban/catalog/category.jsp?id={{elements.27.CAT1}}" data-cm-position="{{cmWeek}}_POSITION_8">
					<img src="//www.urbanoutfitters.com/images/white.gif"
					class="img-lazyload"
					data-desktop="/urban/images/marketing/{{ yymmdd }}/_{{gateway}}/lw_8.jpg"/>
				</a>
				<div class="shoptags">
					<span class="shop first">
						<a href="/urban/catalog/category.jsp?id={{ elements.27.CAT1 }}" data-cm-position="{{cmWeek}}_POSITION_8">{{ elements.27.TAG1 }}</a>
					</span>
					{{#if elements.27.CAT2.length }}
			    	<span class="shop second">
			    		<a href="/urban/catalog/category.jsp?id={{ elements.27.CAT2 }}" data-cm-position="{{cmWeek}}_POSITION_8">{{ elements.27.TAG2 }}</a>
			    	</span>
			    	{{/if}}
			    	{{#if elements.27.CAT3.length }}
			    	<span class="shop third">
			    		<a href="/urban/catalog/category.jsp?id={{ elements.27.CAT3 }}" data-cm-position="{{cmWeek}}_POSITION_8">{{ elements.27.TAG3 }}</a>
			    	</span>
			    	{{/if}}
				</div>
			</div>
		{{/if}}

		{{#if elements.28.CAT1.length }}
			<div class="box box9">
				<a href="/urban/catalog/category.jsp?id={{elements.28.CAT1}}" data-cm-position="{{cmWeek}}_POSITION_9">
					<img src="//www.urbanoutfitters.com/images/white.gif"
					class="img-lazyload"
					data-desktop="/urban/images/marketing/{{ yymmdd }}/_{{gateway}}/lw_9.jpg"/>
				</a>
				<div class="shoptags">
					<span class="shop first">
						<a href="/urban/catalog/category.jsp?id={{ elements.28.CAT1 }}" data-cm-position="{{cmWeek}}_POSITION_9">{{ elements.28.TAG1 }}</a>
					</span>
					{{#if elements.28.CAT2.length }}
			    	<span class="shop second">
			    		<a href="/urban/catalog/category.jsp?id={{ elements.28.CAT2 }}" data-cm-position="{{cmWeek}}_POSITION_9">{{ elements.28.TAG2 }}</a>
			    	</span>
			    	{{/if}}
			    	{{#if elements.28.CAT3.length }}
			    	<span class="shop third">
			    		<a href="/urban/catalog/category.jsp?id={{ elements.28.CAT3 }}" data-cm-position="{{cmWeek}}_POSITION_9">{{ elements.28.TAG3 }}</a>
			    	</span>
			    	{{/if}}
				</div>
			</div>
		{{/if}}

		{{#if elements.29.CAT1.length }}
			<div class="box box8">
				<a href="/urban/catalog/category.jsp?id={{elements.29.CAT1}}" data-cm-position="{{cmWeek}}_POSITION_10">
					<img src="//www.urbanoutfitters.com/images/white.gif"
					class="img-lazyload"
					data-desktop="/urban/images/marketing/{{ yymmdd }}/_{{gateway}}/lw_10.jpg"/>
				</a>
				<div class="shoptags">
					<span class="shop first">
						<a href="/urban/catalog/category.jsp?id={{ elements.29.CAT1 }}" data-cm-position="{{cmWeek}}_POSITION_10">{{ elements.29.TAG1 }}</a>
					</span>
					{{#if elements.29.CAT2.length }}
			    	<span class="shop second">
			    		<a href="/urban/catalog/category.jsp?id={{ elements.29.CAT2 }}" data-cm-position="{{cmWeek}}_POSITION_10">{{ elements.29.TAG2 }}</a>
			    	</span>
			    	{{/if}}
			    	{{#if elements.29.CAT3.length }}
			    	<span class="shop third">
			    		<a href="/urban/catalog/category.jsp?id={{ elements.29.CAT3 }}" data-cm-position="{{cmWeek}}_POSITION_10">{{ elements.29.TAG3 }}</a>
			    	</span>
			    	{{/if}}
				</div>
			</div>
		{{/if}}

		{{#if elements.30.CAT1.length }}
			<div class="box box8">
				<a href="/urban/catalog/category.jsp?id={{elements.30.CAT1}}" data-cm-position="{{cmWeek}}_POSITION_11">
					<img src="//www.urbanoutfitters.com/images/white.gif"
					class="img-lazyload"
					data-desktop="/urban/images/marketing/{{ yymmdd }}/_{{gateway}}/lw_11.jpg"/>
				</a>
				<div class="shoptags">
					<span class="shop first">
						<a href="/urban/catalog/category.jsp?id={{ elements.30.CAT1 }}" data-cm-position="{{cmWeek}}_POSITION_11">{{ elements.30.TAG1 }}</a>
					</span>
					{{#if elements.30.CAT2.length }}
			    	<span class="shop second">
			    		<a href="/urban/catalog/category.jsp?id={{ elements.30.CAT2 }}" data-cm-position="{{cmWeek}}_POSITION_11">{{ elements.30.TAG2 }}</a>
			    	</span>
			    	{{/if}}
			    	{{#if elements.30.CAT3.length }}
			    	<span class="shop third">
			    		<a href="/urban/catalog/category.jsp?id={{ elements.30.CAT3 }}" data-cm-position="{{cmWeek}}_POSITION_11">{{ elements.30.TAG3 }}</a>
			    	</span>
			    	{{/if}}
				</div>
			</div>
		{{/if}}

		{{#if elements.31.CAT1.length }}
			<div class="box box9">
				<a href="/urban/catalog/category.jsp?id={{elements.31.CAT1}}" data-cm-position="{{cmWeek}}_POSITION_12">
					<img src="//www.urbanoutfitters.com/images/white.gif"
					class="img-lazyload"
					data-desktop="/urban/images/marketing/{{ yymmdd }}/_{{gateway}}/lw_12.jpg"/>
				</a>
				<div class="shoptags">
					<span class="shop first">
						<a href="/urban/catalog/category.jsp?id={{ elements.31.CAT1 }}" data-cm-position="{{cmWeek}}_POSITION_12">{{ elements.31.TAG1 }}</a>
					</span>
					{{#if elements.31.CAT2.length }}
			    	<span class="shop second">
			    		<a href="/urban/catalog/category.jsp?id={{ elements.31.CAT2 }}" data-cm-position="{{cmWeek}}_POSITION_12">{{ elements.31.TAG2 }}</a>
			    	</span>
			    	{{/if}}
			    	{{#if elements.31.CAT3.length }}
			    	<span class="shop third">
			    		<a href="/urban/catalog/category.jsp?id={{ elements.31.CAT3 }}" data-cm-position="{{cmWeek}}_POSITION_12">{{ elements.31.TAG3 }}</a>
			    	</span>
			    	{{/if}}
				</div>
			</div>
		{{/if}}
	</section>
</div>
