<section class="this-week-section addcm" data-cm-module="TW_FEATURES">
	{{#if elements.0.CAT1.length }}
		<div class="box box1">
			<a href="/urban/catalog/category.jsp?id={{ elements.0.CAT1 }}" data-cm-position="WEEK_11_POSITION_2">
				<picture>
					<!--[if lte IE 9]><video style="display: none;"><![endif]-->
					<source srcset="/urban/images/marketing/150316/_w/1.jpg" media="(min-width: 641px)" >
						<source srcset="/urban/images/marketing/150316/mobile/_w/w_1m.jpg" >
							<img srcset="/urban/images/marketing/150316/_w/1.jpg" alt="">
							<!--[if lte IE 9]></video><![endif]-->
		            <!--[if lte IE 9]>
		            <img src="/urban/images/marketing/150316/_w/1.jpg" alt="">
		            <![endif]-->
		        </picture>
		    </a>
		    <div class="shoptags">
		    	<span class="shop first">
		    		<a href="/urban/catalog/category.jsp?id={{ elements.0.CAT1 }}" data-cm-position="WEEK_11_POSITION_2">{{ elements.0.TAG1 }}</a>
		    	</span>
		    </div>
		</div>
	{{/if}}


	{{#date}}{{/date}}

	{{#if elements.1.CAT1.length }}
		<div class="box box2">
			<a href="/urban/catalog/category.jsp?id={{ elements.1.CAT1 }}" data-cm-position="WEEK_11_POSITION_3">
				<picture>
					<!--[if lte IE 9]><video style="display: none;"><![endif]-->
					<source srcset="/urban/images/marketing/150316/_w/2.jpg" media="(min-width: 641px)" >
						<source srcset="/urban/images/marketing/150316/mobile/_w/w_2m.jpg" >
							<img srcset="/urban/images/marketing/150316/_w/2.jpg" alt="">
							<!--[if lte IE 9]></video><![endif]-->
		            <!--[if lte IE 9]>
		            <img src="http://www.urbanoutfitters.com/urban/images/marketing/150316/_w/2.jpg" alt="">
		            <![endif]-->
		        </picture>
		    </a>
		    <div class="shoptags">
		    	<span class="shop first">
		    		<a href="/urban/catalog/category.jsp?id={{ elements.1.CAT1 }}" data-cm-position="WEEK_11_POSITION_3">{{ elements.1.TAG1 }}</a>
		    	</span>
		    </div>
		</div>
	{{/if}}

	{{#if elements.2.CAT1.length }}
		<div class="box box3">
			<a href="/urban/catalog/category.jsp?id={{ elements.2.CAT1 }}" data-cm-position="WEEK_11_POSITION_4">
				<picture>
					<!--[if lte IE 9]><video style="display: none;"><![endif]-->
					<source srcset="/urban/images/marketing/150316/_w/3.jpg" media="(min-width: 641px)" >
						<source srcset="/urban/images/marketing/150316/mobile/_w/w_3m.jpg" >
							<img srcset="/urban/images/marketing/150316/_w/3.jpg" alt="">
							<!--[if lte IE 9]></video><![endif]-->
		            <!--[if lte IE 9]>
		            <img src="http://www.urbanoutfitters.com/urban/images/marketing/150316/_w/3.jpg" alt="">
		            <![endif]-->
		        </picture>
		    </a>
		    <div class="shoptags">
		    	<span class="shop first">
		    		<a href="/urban/catalog/category.jsp?id={{ elements.2.CAT1 }}" data-cm-position="WEEK_11_POSITION_4">{{ elements.2.TAG1 }}</a>
		    	</span>
		    </div>
		</div>
	{{/if}}

	{{#if elements.3.CAT1.length }}
	<div class="box box4">
		<a href="/urban/catalog/category.jsp?id={{ elements.3.CAT1 }}" data-cm-position="WEEK_11_POSITION_5">
			<picture>
				<!--[if lte IE 9]><video style="display: none;"><![endif]-->
				<source srcset="/urban/images/marketing/150316/_w/4.jpg" media="(min-width: 641px)" >
					<source srcset="/urban/images/marketing/150316/mobile/_w/w_4m.jpg" >
						<img srcset="/urban/images/marketing/150316/_w/4.jpg" alt="">
						<!--[if lte IE 9]></video><![endif]-->
	            <!--[if lte IE 9]>
	            <img src="http://www.urbanoutfitters.com/urban/images/marketing/150316/_w/4.jpg" alt="">
	            <![endif]-->
	        </picture>
	    </a>
	    <div class="shoptags">
	    	<span class="shop first">
	    		<a href="/urban/catalog/category.jsp?id={{ elements.3.CAT1 }}" data-cm-position="WEEK_11_POSITION_5">{{ elements.3.TAG1 }}</a>
	    	</span>
	    </div>
	</div>
	{{/if}}


	{{#if elements.4.CAT1.length }}
	<div class="box box5">
		<a href="/urban/catalog/category.jsp?id={{ elements.4.CAT1 }}" data-cm-position="WEEK_11_POSITION_6">
			<picture>
				<!--[if lte IE 9]><video style="display: none;"><![endif]-->
				<source srcset="/urban/images/marketing/150316/_w/5.jpg" media="(min-width: 641px)" >
					<source srcset="/urban/images/marketing/150316/mobile/_w/w_5m.jpg" >
						<img srcset="/urban/images/marketing/150316/_w/5.jpg" alt="">
						<!--[if lte IE 9]></video><![endif]-->
		            <!--[if lte IE 9]>
		            <img src="http://www.urbanoutfitters.com/urban/images/marketing/150316/_w/5.jpg" alt="">
		            <![endif]-->
		        </picture>
		    </a>
		    <div class="shoptags">
		    	<span class="shop first">
		    		<a href="/urban/catalog/category.jsp?id={{ elements.4.CAT1 }}" data-cm-position="WEEK_11_POSITION_6">{{ elements.4.TAG1 }}</a>
		    	</span>
		    </div>
		</div>
	{{/if}}


	{{#if elements.5.CAT1.length }}
		<!-- LOAD MORE BUTTON -->
		<div class="btn-loadmore">
			<button>Load More</button>
		</div>
	{{/if}}

		<div class="load-container">
			<!-- ONE PICTUREFILL MODULE AT THE TOP OF THE "LOAD MORE" SECTION-->

		{{#if elements.5.CAT1.length }}
			<div class="box box6">
				<a href="/urban/catalog/category.jsp?id={{ elements.5.CAT1 }}" data-cm-position="WEEK_11_POSITION_7">
					<picture>
						<!--[if lte IE 9]><video style="display: none;"><![endif]-->
						<source srcset="/urban/images/marketing/150316/_w/6.jpg" media="(min-width: 641px)" >
							<source srcset="/urban/images/marketing/150316/mobile/_w/w_6m.jpg" >
								<img srcset="/urban/images/marketing/150316/_w/6.jpg" alt="">
								<!--[if lte IE 9]></video><![endif]-->
		            <!--[if lte IE 9]>
		            <img src="http://www.urbanoutfitters.com/urban/images/marketing/150316/_w/6.jpg" alt="">
		            <![endif]-->
		        </picture>
		    </a>
		    <div class="shoptags">
		    	<span class="shop first">
		    		<a href="/urban/catalog/category.jsp?id={{ elements.5.CAT1 }}" data-cm-position="WEEK_11_POSITION_7">{{ elements.5.TAG1 }}</a>
		    	</span>
		    </div>
		{{/if}}


		<!-- LAZY LOADING STARTS HERE -->
		
		{{#if elements.6.CAT1.length }}
			<div class="box box7">
				<a href="/urban/catalog/category.jsp?id={{ elements.6.CAT1 }}" data-cm-position="WEEK_11_POSITION_8">
					<img src="//www.urbanoutfitters.com/images/white.gif"
					class="img-lazyload"
					data-mobile="/urban/images/marketing/150316/mobile/_w/w_7m.jpg"
					data-desktop="/urban/images/marketing/150316/_w/7.jpg"/>
				</a>
				<div class="shoptags">
					<span class="shop first">
						<a href="/urban/catalog/category.jsp?id={{ elements.6.CAT1 }}" data-cm-position="WEEK_11_POSITION_8">{{ elements.6.TAG1 }}</a>
					</span>
				</div>
			</div>
		{{/if}}

		{{#if elements.7.CAT1.length }}
			<div class="box box7">
				<a href="/urban/catalog/category.jsp?id={{ elements.7.CAT1 }}" data-cm-position="WEEK_11_POSITION_8">
					<img src="//www.urbanoutfitters.com/images/white.gif"
					class="img-lazyload"
					data-mobile="/urban/images/marketing/150316/mobile/_w/w_8m.jpg"
					data-desktop="/urban/images/marketing/150316/_w/8.jpg"/>
				</a>
				<div class="shoptags">
					<span class="shop first">
						<a href="/urban/catalog/category.jsp?id={{ elements.7.CAT1 }}" data-cm-position="WEEK_11_POSITION_8">{{ elements.7.TAG1 }}</a>
					</span>
				</div>
			</div>
		{{/if}}

		{{#if elements.8.CAT1.length }}
			<div class="box box7">
				<a href="/urban/catalog/category.jsp?id={{ elements.8.CAT1 }}" data-cm-position="WEEK_11_POSITION_8">
					<img src="//www.urbanoutfitters.com/images/white.gif"
					class="img-lazyload"
					data-mobile="/urban/images/marketing/150316/mobile/_w/w_9m.jpg"
					data-desktop="/urban/images/marketing/150316/_w/9.jpg"/>
				</a>
				<div class="shoptags">
					<span class="shop first">
						<a href="/urban/catalog/category.jsp?id={{ elements.8.CAT1 }}" data-cm-position="WEEK_11_POSITION_8">{{ elements.8.TAG1 }}</a>
					</span>
				</div>
			</div>
		{{/if}}

		{{#if elements.9.CAT1.length }}
			<div class="box box7">
				<a href="/urban/catalog/category.jsp?id={{ elements.9.CAT1 }}" data-cm-position="WEEK_11_POSITION_8">
					<img src="//www.urbanoutfitters.com/images/white.gif"
					class="img-lazyload"
					data-mobile="/urban/images/marketing/150316/mobile/_w/w_10m.jpg"
					data-desktop="/urban/images/marketing/150316/_w/10.jpg"/>
				</a>
				<div class="shoptags">
					<span class="shop first">
						<a href="/urban/catalog/category.jsp?id={{ elements.9.CAT1 }}" data-cm-position="WEEK_11_POSITION_8">{{ elements.9.TAG1 }}</a>
					</span>
				</div>
			</div>
		{{/if}}

		{{#if elements.10.CAT1.length }}
			<div class="box box7">
				<a href="/urban/catalog/category.jsp?id={{ elements.10.CAT1 }}" data-cm-position="WEEK_11_POSITION_8">
					<img src="//www.urbanoutfitters.com/images/white.gif"
					class="img-lazyload"
					data-mobile="/urban/images/marketing/150316/mobile/_w/w_11m.jpg"
					data-desktop="/urban/images/marketing/150316/_w/11.jpg"/>
				</a>
				<div class="shoptags">
					<span class="shop first">
						<a href="/urban/catalog/category.jsp?id={{ elements.10.CAT1 }}" data-cm-position="WEEK_11_POSITION_8">{{ elements.10.TAG1 }}</a>
					</span>
				</div>
			</div>
		{{/if}}

		{{#if elements.11.CAT1.length }}
			<div class="box box7">
				<a href="/urban/catalog/category.jsp?id={{ elements.11.CAT1 }}" data-cm-position="WEEK_11_POSITION_8">
					<img src="//www.urbanoutfitters.com/images/white.gif"
					class="img-lazyload"
					data-mobile="/urban/images/marketing/150316/mobile/_w/w_12m.jpg"
					data-desktop="/urban/images/marketing/150316/_w/12.jpg"/>
				</a>
				<div class="shoptags">
					<span class="shop first">
						<a href="/urban/catalog/category.jsp?id={{ elements.11.CAT1 }}" data-cm-position="WEEK_11_POSITION_8">{{ elements.11.TAG1 }}</a>
					</span>
				</div>
			</div>
		{{/if}}

	</div>
</section>


<section class="blog">
	<h3><img src="//www.urbanoutfitters.com/images/marketing/141006/from_the_blog.svg" title="From the Blog"></h3>
	<a class="view-all" href="http://blog.urbanoutfitters.com?cm_re=BLOG-_-NONE-_-VIEW_ALL_STORIES">See All Stories</a>
	<div id="blog-wrapper" class="swipe addcm" data-cm-module="BLOG">
		<div class="swipe-wrap blog-inner">
			<div class="blog-thumbnail first">
				<a href="{{elements.12.CAT1}}">
					<img src="//www.urbanoutfitters.com/images/white.gif"
					class="img-lazyload"
					data-mobile="/urban/images/marketing/150316/mobile/_w/w_blog_1m.jpg"
					data-desktop="/urban/images/marketing/150316/_w/blog_1.jpg"/>
					<h4>{{elements.12.HEADLINE}}</h4>
					<p>{{elements.12.SUBCOPY}}</p><span class="read-more">{{elements.12.TAG1}}</span>
				</a>
			</div>
			<div class="blog-thumbnail">
				<a href="{{elements.13.CAT1}}">
					<img src="//www.urbanoutfitters.com/images/white.gif"
					class="img-lazyload"
					data-mobile="/urban/images/marketing/150316/mobile/_w/w_blog_2m.jpg"
					data-desktop="/urban/images/marketing/150316/_w/blog_2.jpg"/>
					<h4>{{elements.13.HEADLINE}}</h4>
					<p>{{elements.13.SUBCOPY}}</p><span class="read-more">{{elements.13.TAG1}}</span>
				</a>
			</div>
			<div class="blog-thumbnail">
				<a href="{{elements.14.CAT1}}">
					<img src="//www.urbanoutfitters.com/images/white.gif"
					class="img-lazyload"
					data-mobile="/urban/images/marketing/150316/mobile/_w/w_blog_3m.jpg"
					data-desktop="/urban/images/marketing/150316/_w/blog_3.jpg"/>
					<h4>{{elements.14.HEADLINE}}</h4>
					<p>{{elements.14.SUBCOPY}}</p><span class="read-more">{{elements.14.TAG1}}</span>
				</a>
			</div>
			<div class="blog-thumbnail">
				<a href="{{elements.15.CAT1}}">
					<img src="//www.urbanoutfitters.com/images/white.gif"
					class="img-lazyload"
					data-mobile="/urban/images/marketing/150316/mobile/_w/w_blog_4m.jpg"
					data-desktop="/urban/images/marketing/150316/_w/blog_4.jpg"/>
					<h4>{{elements.15.HEADLINE}}</h4>
					<p>{{elements.15.SUBCOPY}}</p><span class="read-more">{{elements.15.TAG1}}</span>
				</a>
			</div>
		</div>
		<div class="image-bullets"></div>
	</div>
</section>

<section class="last-week-section addcm" data-cm-module="LW_FEATURES">
	<h3><img src="//www.urbanoutfitters.com/images/marketing/141006/more_stories.svg" title="More Stories"></h3>
	{{#if elements.16.CAT1.length }}
		<div class="box box1">
			<a href="/urban/catalog/category.jsp?id={{elements.16.CAT1}}" data-cm-position="WEEK_11_POSITION_9">
				<img src="//www.urbanoutfitters.com/images/white.gif"
				class="img-lazyload"
				data-desktop="/urban/images/marketing/150316/_w/8.jpg"/>
			</a>
		</div>
	{{/if}}

	{{#if elements.17.CAT1.length }}
		<div class="box box2">
			<a href="/urban/catalog/category.jsp?id={{elements.17.CAT1}}" data-cm-position="WEEK_11_POSITION_10">
				<img src="//www.urbanoutfitters.com/images/white.gif"
				class="img-lazyload"
				data-desktop="/urban/images/marketing/150316/_w/9.jpg"/>
			</a>
		</div>
	{{/if}}

	{{#if elements.18.CAT1.length }}
		<div class="box box3">
			<a href="/urban/catalog/category.jsp?id={{elements.18.CAT1}}" data-cm-position="WEEK_11_POSITION_11">
				<img src="//www.urbanoutfitters.com/images/white.gif"
				class="img-lazyload"
				data-desktop="/urban/images/marketing/150316/_w/10.jpg"/>
			</a>
		</div>
	{{/if}}

	{{#if elements.19.CAT1.length }}
		<div class="box box4">
			<a href="/urban/catalog/category.jsp?id={{elements.19.CAT1}}" data-cm-position="WEEK_11_POSITION_12">
				<img src="//www.urbanoutfitters.com/images/white.gif"
				class="img-lazyload"
				data-desktop="/urban/images/marketing/150316/_w/11.jpg"/>
			</a>
		</div>
	{{/if}}

	{{#if elements.20.CAT1.length }}
		<div class="box box4">
			<a href="/urban/catalog/category.jsp?id={{elements.20.CAT1}}" data-cm-position="WEEK_11_POSITION_12">
				<img src="//www.urbanoutfitters.com/images/white.gif"
				class="img-lazyload"
				data-desktop="/urban/images/marketing/150316/_w/11.jpg"/>
			</a>
		</div>
	{{/if}}

	{{#if elements.21.CAT1.length }}
		<div class="box box4">
			<a href="/urban/catalog/category.jsp?id={{elements.21.CAT1}}" data-cm-position="WEEK_11_POSITION_12">
				<img src="//www.urbanoutfitters.com/images/white.gif"
				class="img-lazyload"
				data-desktop="/urban/images/marketing/150316/_w/11.jpg"/>
			</a>
		</div>
	{{/if}}

	{{#if elements.22.CAT1.length }}
		<div class="box box4">
			<a href="/urban/catalog/category.jsp?id={{elements.22.CAT1}}" data-cm-position="WEEK_11_POSITION_12">
				<img src="//www.urbanoutfitters.com/images/white.gif"
				class="img-lazyload"
				data-desktop="/urban/images/marketing/150316/_w/11.jpg"/>
			</a>
		</div>
	{{/if}}

	{{#if elements.23.CAT1.length }}
		<div class="box box4">
			<a href="/urban/catalog/category.jsp?id={{elements.23.CAT1}}" data-cm-position="WEEK_11_POSITION_12">
				<img src="//www.urbanoutfitters.com/images/white.gif"
				class="img-lazyload"
				data-desktop="/urban/images/marketing/150316/_w/11.jpg"/>
			</a>
		</div>
	{{/if}}
</section>
