	<section class="this-week-section addcm" data-cm-module="TW_FEATURES">
		<div class="box box1">
			<a href="/urban/catalog/category.jsp?id={{ elements.0.CAT1 }}" data-cm-position="WEEK_11_POSITION_2">
				<picture>
					<!--[if lte IE 9]><video style="display: none;"><![endif]-->
					<source srcset="/urban/images/marketing/150316/_w/1.jpg" media="(min-width: 641px)" >
						<source srcset="/urban/images/marketing/150316/mobile/_w/w_1m.jpg" >
							<img srcset="/urban/images/marketing/150316/_w/1.jpg" alt="">
							<!--[if lte IE 9]></video><![endif]-->
		            <!--[if lte IE 9]>
		            <img src="/urban/images/marketing/150316/_w/1.jpg" alt="">
		            <![endif]-->
		        </picture>
		    </a>
		    <div class="shoptags">
		    	<span class="shop first">
		    		<a href="/urban/catalog/category.jsp?id={{ elements.0.CAT1 }}" data-cm-position="WEEK_11_POSITION_2">{{ elements.0.TAG1 }}</a>
		    	</span>
		    </div>
		</div>

		<div class="box box2">
			<a href="/urban/catalog/category.jsp?id={{ elements.1.CAT1 }}" data-cm-position="WEEK_11_POSITION_3">
				<picture>
					<!--[if lte IE 9]><video style="display: none;"><![endif]-->
					<source srcset="/urban/images/marketing/150316/_w/2.jpg" media="(min-width: 641px)" >
						<source srcset="/urban/images/marketing/150316/mobile/_w/w_2m.jpg" >
							<img srcset="/urban/images/marketing/150316/_w/2.jpg" alt="">
							<!--[if lte IE 9]></video><![endif]-->
		            <!--[if lte IE 9]>
		            <img src="http://www.urbanoutfitters.com/urban/images/marketing/150316/_w/2.jpg" alt="">
		            <![endif]-->
		        </picture>
		    </a>
		    <div class="shoptags">
		    	<span class="shop first">
		    		<a href="/urban/catalog/category.jsp?id={{ elements.1.CAT1 }}" data-cm-position="WEEK_11_POSITION_3">{{ elements.1.TAG1 }}</a>
		    	</span>
		    </div>
		</div>
		<div class="box box3">
			<a href="/urban/catalog/category.jsp?id={{ elements.2.CAT1 }}" data-cm-position="WEEK_11_POSITION_4">
				<picture>
					<!--[if lte IE 9]><video style="display: none;"><![endif]-->
					<source srcset="/urban/images/marketing/150316/_w/3.jpg" media="(min-width: 641px)" >
						<source srcset="/urban/images/marketing/150316/mobile/_w/w_3m.jpg" >
							<img srcset="/urban/images/marketing/150316/_w/3.jpg" alt="">
							<!--[if lte IE 9]></video><![endif]-->
		            <!--[if lte IE 9]>
		            <img src="http://www.urbanoutfitters.com/urban/images/marketing/150316/_w/3.jpg" alt="">
		            <![endif]-->
		        </picture>
		    </a>
		    <div class="shoptags">
		    	<span class="shop first">
		    		<a href="/urban/catalog/category.jsp?id={{ elements.2.CAT1 }}" data-cm-position="WEEK_11_POSITION_4">{{ elements.2.TAG1 }}</a>
		    	</span>
		    </div>
		</div>

		<div class="box box4">
			<a href="/urban/catalog/category.jsp?id={{ elements.3.CAT1 }}" data-cm-position="WEEK_11_POSITION_5">
				<picture>
					<!--[if lte IE 9]><video style="display: none;"><![endif]-->
					<source srcset="/urban/images/marketing/150316/_w/4.jpg" media="(min-width: 641px)" >
						<source srcset="/urban/images/marketing/150316/mobile/_w/w_4m.jpg" >
							<img srcset="/urban/images/marketing/150316/_w/4.jpg" alt="">
							<!--[if lte IE 9]></video><![endif]-->
		            <!--[if lte IE 9]>
		            <img src="http://www.urbanoutfitters.com/urban/images/marketing/150316/_w/4.jpg" alt="">
		            <![endif]-->
		        </picture>
		    </a>
		    <div class="shoptags">
		    	<span class="shop first">
		    		<a href="/urban/catalog/category.jsp?id={{ elements.3.CAT1 }}" data-cm-position="WEEK_11_POSITION_5">{{ elements.3.TAG1 }}</a>
		    	</span>
		    </div>
		</div>
		<div class="box box5">
			<a href="/urban/catalog/category.jsp?id={{ elements.4.CAT1 }}" data-cm-position="WEEK_11_POSITION_6">
				<picture>
					<!--[if lte IE 9]><video style="display: none;"><![endif]-->
					<source srcset="/urban/images/marketing/150316/_w/5.jpg" media="(min-width: 641px)" >
						<source srcset="/urban/images/marketing/150316/mobile/_w/w_5m.jpg" >
							<img srcset="/urban/images/marketing/150316/_w/5.jpg" alt="">
							<!--[if lte IE 9]></video><![endif]-->
			            <!--[if lte IE 9]>
			            <img src="http://www.urbanoutfitters.com/urban/images/marketing/150316/_w/5.jpg" alt="">
			            <![endif]-->
			        </picture>
			    </a>
			    <div class="shoptags">
			    	<span class="shop first">
			    		<a href="/urban/catalog/category.jsp?id={{ elements.4.CAT1 }}" data-cm-position="WEEK_11_POSITION_6">{{ elements.4.TAG1 }}</a>
			    	</span>
			    </div>
			</div>

			<!-- LOAD MORE BUTTON -->
			<div class="btn-loadmore">
				<button>Load More</button>
			</div>
			<!-- LOAD MORE BUTTON -->

			<div class="load-container">
				<!-- ONE PICTUREFILL MODULE AT THE TOP OF THE "LOAD MORE" SECTION-->

				<div class="box box6">
					<a href="/urban/catalog/category.jsp?id={{ elements.5.CAT1 }}" data-cm-position="WEEK_11_POSITION_7">
						<picture>
							<!--[if lte IE 9]><video style="display: none;"><![endif]-->
							<source srcset="/urban/images/marketing/150316/_w/6.jpg" media="(min-width: 641px)" >
								<source srcset="/urban/images/marketing/150316/mobile/_w/w_6m.jpg" >
									<img srcset="/urban/images/marketing/150316/_w/6.jpg" alt="">
									<!--[if lte IE 9]></video><![endif]-->
			            <!--[if lte IE 9]>
			            <img src="http://www.urbanoutfitters.com/urban/images/marketing/150316/_w/6.jpg" alt="">
			            <![endif]-->
			        </picture>
			    </a>
			    <div class="shoptags">
			    	<span class="shop first">
			    		<a href="/urban/catalog/category.jsp?id={{ elements.5.CAT1 }}" data-cm-position="WEEK_11_POSITION_7">{{ elements.5.TAG1 }}</a>
			    	</span>
			    </div>
			</div>


			<!-- LAZY LOADING STARTS HERE -->
			

			<div class="box box6">
				<a href="/urban/catalog/category.jsp?id={{ elements.6.CAT1 }}" data-cm-position="WEEK_11_POSITION_8">
					<img src="//www.urbanoutfitters.com/images/white.gif"
					class="img-lazyload"
					data-mobile="/urban/images/marketing/150316/mobile/_w/w_7m.jpg"
					data-desktop="/urban/images/marketing/150316/_w/7.jpg"/>
				</a>
				<div class="shoptags">
					<span class="shop first">
						<a href="/urban/catalog/category.jsp?id={{ elements.6.CAT1 }}" data-cm-position="WEEK_11_POSITION_8">{{ elements.6.TAG1 }}</a>
					</span>
				</div>
			</div>


		</section>